* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

/* import fonts */

/* body */
body {
    background: #292727;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 8rem;
}

/* typography */
h1,
h2,
h3,
label {
    color: whitesmoke;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 2rem;
}
/* header */

/* toppings */
.topBun.toasted,
.bottomBun.toasted {
    fill: rgb(253, 182, 75);
}